.DS_Store
.cache/
.coverage
.data/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.python_history
.ruff_cache/
.ty_cache/
.venv/
__pycache__/
build/
dist/
htmlcov/
legacy_import/tmp/
*.egg-info/
*.log
*.nbconvert.ipynb
